<table class="table table-striped">
  <% @hash = Hash.new %>
  <% numbers_array(@start_point, @end_point, 0.001).each do |val| %>
      <tr>
        <td><%= val %></td>
        <td><%= val_1 = fx_1(val)%></td>
        <td><%= val_2 = fx_2(val) %></td>
        <% max = {val => [val_1, val_2].max} %>
        <td>MAX = <%= max.values.first %></td>
        <% @hash.merge!(max) %>
      </tr>
  <% end %>
</table>

<h1>MINIMUM value - <%= min_val = @hash.values.min %></h1>

<h3>X =<%= @hash.select{|k, v| v == min_val}.keys.uniq %></h3>