<table class="table table-striped">
  <% @hash = Hash.new %>
  <% numbers_array(@start_point, @end_point, 0.001).each_with_index do |val| %>
      <tr>
        <td><%= val %></td>
        <td><%= val_1 = fx_1(val)%></td>
        <td><%= val_2 = fx_2(val) %></td>
        <% min = {val => [val_1, val_2].min} %>
        <td>MIN = <%= min.values.first %></td>
        <% @hash.merge!(min) %>
      </tr>
  <% end %>
</table>

<h1>MAXIMUM value - <%= max_val = @hash.values.max %></h1>

<h3>X =<%= @hash.select{|k, v| v == max_val}.keys.uniq %></h3>