<% arr = generate_hash({start_point: 0, end_point: 4, h1: 0.2, h2: 0.1, fx: 12}) %>
<table class="table table-striped">
<tbody>
<% arr.each do |row| %>
    <tr>
      <td>X1</td>
      <td style="background: #ffc73a;"><%= row[:x1] %></td>
    </tr>
    <tr >
      <td>X2</td>
      <% row[:x2].each do |x2| %>
          <td style="background: #ff9575;"> <%= x2 %></td>
      <% end %>
    </tr>
    <tr>
      <td>F12(x)</td>
      <% row[:fx].each do |fx| %>
          <td> <%= fx %></td>
      <% end %>
    </tr>
    <tr>
      <td style="background: #2bff1d;">MIN</td>
      <td style="background: #2bff1d;"><%= row[:min_fx] %></td>
    </tr>
<% end %>
</tbody>
</table>
<h3>
  <% max_fx = arr.map{|hash| hash[:min_fx]}.max %>
  <%= arr.select{|hash| hash[:min_fx] == max_fx}.first[:min_fx_x1_x2] %>
</h3>
<hr>
<%= render 'dashboard/charts/task_2_first_tab_chart', stats: arr %>