<%= link_to 'Задача №2', second_task_path %>
<h1>Задача №1</h1>
<hr>
<p><h3>F1(x) = 20 / 5x</h3></p>
<p><h3>F2(x) = (5 + 6x - sqrt(x^3)) / 12</h3></p>
<hr>
<p>  <h4>Start Point = 1.461</h4></p>
<p><h4>End Point = 4.000</h4></p>
<p><h4>step = 0.001</h4></p>
<br>
<div id="exTab22" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#1" data-toggle="tab">First step</a>
    </li>
    <li><a href="#2" data-toggle="tab">Second step</a>
    </li>
  </ul>
  <div class="tab-content ">
    <div class="tab-pane active" id="1">
      <%= render('first_tab') %>
    </div>
    <div class="tab-pane" id="2">
      <%= render('second_tab') %>
    </div>
  </div>
</div>
<hr>
