<%= link_to 'Задача №1', root_path %>
<h1>Задача №2</h1>
<hr>
<p><h3>F12(x) = X1^3 - X2^3</h3></p>
<p><h3>F21(x) = X1 + X2</h3></p>
<hr>
<p>  <h4>Start Point = 0</h4></p>
<p><h4>End Point = 4</h4></p>
<p><h4>h1 = 1</h4></p>
<p><h4>h2 = 0.2</h4></p>
<br>
<div id="exTab2" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#3" data-toggle="tab">First step</a>
    </li>
    <li><a href="#4" data-toggle="tab">Second step</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="3">
      <%= render('task_2_first_tab') %>
    </div>
    <div class="tab-pane" id="4">
      <%= render('task_2_second_tab') %>
    </div>
  </div>
</div>

