<div id="container21" style="height: 700px; min-width: 510px"></div>

<%= content_tag :div, class: "fx-21", data: {fx: stats.map{|h| h[:fx]}, ox: stats.first[:x2], x1: stats.map{|h| h[:x1]}} do %>
<% end %>
<%= javascript_include_tag 'stats_charts/task_2_stats' %>